body .hidden{
    display: none;
}
/* first section ------------------------*/
.background{
    /*background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    /*background-image: url(../image/Path\ 3.png);*/
    background-image: url(../image/backgroundimg.jpg);
    background-repeat: no-repeat;
    width:100%;
    min-height: 600px;
    height:100vh;
    position: relative;
    background-size: cover;
}
#Bestsellers{
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}
#Fiction{
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
.header{
    position: absolute;
    display: flex;
    width:100%;
    justify-content: space-between;
    position:fixed;
    z-index: 20;
    background-color: rgba(255, 255, 255, 0.274);
    height:60px;
}

.new-header-color
{
    background-color: rgba(143, 143, 143, 0.39);
}
.logo{
    vertical-align: baseline;
    align-items: center;
}
.logo-title{
    color:white;
    font-size: 25px;
    font-family: 'Poppins';
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    margin-left:40px;
    line-height:60px;
}
.navigation{
    display: flex;
    vertical-align: baseline;
    align-items: center;
}
.ul-nav{
    display: flex;
    align-items: center;
    line-height: 36px;
}
.li-nav{
    padding: 30px;
    color:rgb(255, 255, 255);
    font-family: 'Poppins';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    text-transform: uppercase;
}
.li-nav-main::after{
    content:'';
    width:3px;
    height:3px;
}

.welcome{
    width:400px;
    display:flex;
    position: absolute;
    margin-top:100px;
    margin-left:9%;
}
.title{
    font-size:45px;
    font-family: 'Noto Sans', sans-serif;
    color:#ffff;
    letter-spacing: 2px;
}
.animate-bounce{
  animation: bounce;
  animation-duration: 6s;
  
}

  li.li-nav-main {
    display: inline-block;
  }
 
  .dropdown a {
    color:white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: 'Poppins';
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }
  
  .dropdown a:hover {background-color: #cdbfd1e1;}

.li-nav-main:hover .dropdown {
    display: block;
    width: 200px;
    background-color: rgba(133, 133, 133, 0.753);
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown {
    display: none;
}
/* "SEE MORE"- BOX --------------------*/
.seemore{
    text-align: right;
    margin: auto;
    margin-top:10px;
    width:100%;
    max-width: 800px;
}
.seemore >h2{
    display: inline-block;
    width:100px;
    height:25px;
    line-height: 25px;
    cursor: pointer;
    margin:auto;
    text-align: center;
    color: #fff;
    border-radius: 30px;
    background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
    font-family: 'Poppins';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
/* search box ---------------------------------------*/
    .search__container {
       position: absolute;
       padding: 9px 90px;
       margin-top:450px;
       margin-left:100px;
       border-radius: 50px;
       border: 3px solid #ffffff;
       transition: transform 250ms ease-in-out;
       transition: all 250ms ease-in-out;
       transform-style: preserve-3d;
    }
    .search__container:hover{
        padding: 9px 60;
        outline: 0;
        border: 3px solid transparent;
        border-bottom: 1px solid #9e9c9c;
        border-radius: 0;
        background-position: 100% center;
    }
    
    .search__input {
        background-color: transparent;
        font-size: 14px;
        line-height: 18px;
        color: #FFF;
        border:0;
        background-color: transparent;
        backface-visibility: hidden;
    }
    .search__input::placeholder {
        color:#ffffffbd;
        text-transform: uppercase;
        letter-spacing: 1.5px;  
    }
    
    input:focus {
        outline: none;
        border:none; 
    }
    .search-icon{
        position:absolute;
        bottom:08px;
        right:9px;
        width:24px;
        height:24px;
        fill: white;
        cursor:pointer;
    }
/* section 2 -------------*/
.section2 {
    padding-top:100px;
    height:100vh;
}
.item-category{
    font-family: 'Poppins';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.box-wraper{
    max-width: 800px;
    width:calc(100% - 120px);
    height: 300px;
    display: flex;
    margin:auto;
    justify-content: space-between;
}
.box-container{
    cursor: pointer;
    width:100%;
    height:300px;
    background-color: #fff;
    margin: 10px;
    outline: none;
    transition: width 2s;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform .5s;
    -moz-transition: -moz-transform .5s;
    transition: transform .5s;
}
.booktitle{
    font-size:14px;
}
.box-container:hover{
    -webkit-transform: rotate3d(0,1,0,35deg);
    -moz-transform: rotate3d(0,1,0,35deg);
    transform: rotate3d(0,1,0,35deg);
}
.box-container img {
    width: 100%;
}
.item-category
{
    color:#1d2a57;
    border-bottom:1px solid #9b9b9b63;
    font-size: 25px;
    cursor: default;
    width:1000px;
    max-width: 100%;
    margin:auto;
    margin-bottom: 30px;
}
.slick-track {
    height: 300px;
}

/* book page -----------------*/
.book-wraper-parent{
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
    text-align:center;
    min-height: 100vh;
    justify-content: center;
    background: linear-gradient(-180deg, #BCC5CE 0%, #929EAD 98%), radial-gradient(at top left, rgba(255,255,255,0.30) 0%, rgba(0,0,0,0.30) 100%);
    background-blend-mode: screen;
    
}
.book{
    animation: book 2.1s;
    animation-fill-mode: forwards;
}

.book-wraper{
    display: inline-flex;
    max-width: 98%;
    padding:50px;
    background:transparent;
    margin: auto;
    margin-top:70px;
    border-radius: 5px;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
}
.bookcover{
    width:250px;
    height:400px;
    float:left;
    margin-right:50px;
 
}
.right-side-book{
    max-width:800px;
    text-align: left;
}
.booktitle{
    margin-bottom:20px;
    font-size: 40px;
    font-family: 'Poppins';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    color:rgb(39, 39, 39);
}
.author{
   margin-bottom:20px;
   font-family: 'Poppins';
    font-weight: 100;
    font-style: italic;
    font-display: swap;
    font-size: 17px;;
}
.author-name{
  font-size:20px;
  margin-bottom:20px;
}
.author-name::before{
    content: 'Author:';
    margin-right:20px;
    margin-bottom:20px;
   font-family: 'Poppins';
   font-weight: 200;
    font-style: normal;
    font-display: swap;
}
.description{
    margin-bottom: 20px;
}
.description > h3{
    margin-bottom: 20px;
    font-family: 'Poppins';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    color:rgb(26, 26, 26)
}
.description > p{
    font-family: 'Poppins';
    font-weight: 100;
    font-style: italic;
    font-display: swap;
    color: #333333;
}
.price{
    height:30px;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    display: inline-block;
    padding-left:20px;
    padding-right:20px;
    border-radius: 9%;
}
.price > h3{
    line-height:30px;
}
.cart{
    float:right;
    margin-top: 10px;
    cursor:pointer;
    line-height: 1px;
    border-radius: 30px;
    padding: 20px;
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}
.cart > h2{
    color:white;
}
.clear{
    clear: both;
}
/* book animation 1 ---------------------------------- */
.harryimg{
    width:220px;
    height:350px;
    }
.container {
    z-index: 1;
    perspective:2000px;
    max-width: 3000px;
    margin: auto;
  }
.container .book {
    position: absolute;
    display: block;
    width: 220px;
    height: 350px;
    margin-top:11%;
    margin-left:60%;
    border-radius: 2px 4px 4px 2px;
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    color: #2b2b2b;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform .5s;
    -moz-transition: -moz-transform .5s;
    transition: transform .5s;
  }
.container .book:hover {
    -webkit-transform: rotate3d(0,1,0,35deg);
    -moz-transform: rotate3d(0,1,0,35deg);
    transform: rotate3d(0,1,0,35deg);
  }
.container .book > div,
.container .front > div {
    display: block;
    position: absolute;
  }
.container .front {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 0% 50%;
    -moz-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transition: -webkit-transform .5s;
    -moz-transition: -moz-transform .5s;
    transition: transform .5s;
    -webkit-transform: translate3d(0,0,20px);
    -moz-transform: translate3d(0,0,20px);
    transform: translate3d(0,0,20px);
    z-index: 10;
  }
.container .front > div {
    width: 220px;
    height: 350px;
  }
.container .left-side{
    width: 40px;
    left: -20px;
    height: 350px;
    background-color: rgb(161, 161, 161);
    -webkit-transform: rotate3d(0,1,0,-90deg);
    -moz-transform: rotate3d(0,1,0,-90deg);
    transform: rotate3d(0,1,0,-90deg);
  }
.container .front > div {
    border-radius: 0 3px 3px 0;
    box-shadow: 
      inset 4px 0 10px rgba(0, 0, 0, 0.1);
  }
.container .front:after {
    content: '';
    position: absolute;
    top: 1px;
    bottom: 1px;
    left: -1px;
    width: 1px;
  }
.container .cover:after {
    content: '';
    position: absolute;
    top: 0;
    left: 10px;
    bottom: 0;
    width: 3px;
    background: rgba(0,0,0,0.1);
    box-shadow: 1px 0 3px rgba(255, 255, 255, 0.1);
  }
.container h2 {
    width: 350px;
    height: 40px;
    color: #f8f7f7;
    font-size: 15px;
    line-height: 40px;
    padding-right: 10px;
    text-align: right;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotate(90deg) translateY(-40px);
    -moz-transform: rotate(90deg) translateY(-40px);
    transform: rotate(90deg) translateY(-40px);
  }
.left-side h2 span:first-child {
    font-weight: 400;
    font-size: 13px;
    padding-right: 200px;
  }
  
.left-side h2 span:last-child{
    font-family: acumin-pro, sans-serif;
  } 
/* ------------ Account section ----------------------------*/
.account-page{
    padding:50px 0;
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}
#col-2{
 width:600px;
}
.row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.form-container{
    background: #fff;
    width:350px;
    padding-bottom: 20px;
    position: relative;
    text-align: center;
    margin-top:70px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
}
.form-container span{
    font-weight: bold;
    padding:0 10px;
    color:#555;
    display: inline-block;
}
.form-btn{
    display: flex;
}
.form-btn>span{
    flex:1;
    padding:0;
    margin:0;
    display: inline-block;
    height: 40px;
    color:#c0c0c0;
    cursor: pointer;
    line-height: 40px;
    font-family: 'Poppins';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
.form-btn .active{
    background-color:#1e6ff1cc;
    color:#fff;
}

#login-form a{
    color:#1e6ff1;
}
.btn{
    display: inline-block;
    margin-top:20px;
    border-radius: 4px;
    background-color: #1e6ff1cc;
    border: none;
    text-align: center;
    font-size: 13px;
    padding: 10px;
    transition: all 0.5s;
    cursor: pointer;
}
.btn span {
    color:white;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  .btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -10px;
    transition: 0.5s;
  }
  .btn:hover span {
    padding-right: 15px;
  }
  .btn:hover span:after {
    opacity: 1;
    right: 0;
  }
form a{
    margin-left:20px;
}
form{
    margin-top:30px;
}
form input{
    width:300px;;
    height:30px;
    margin:auto;
    padding:0 10px;
    border: 1px solid #ccc;
    margin-top:20px;
}
/* ------- Cart Page ------------------*/
.background2{
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    width:100%;
    background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
    overflow: auto;
}

.small-container {
    padding:50px;
    background:transparent; 
    border-radius: 5px;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
}
.cart-page{
    padding:180px 50px;
    max-width:900px;
    width:100%;
    margin:auto;
    margin-top: 70px;
    margin-bottom:40px;
}
table{
    width:100%;
    border-collapse: collapse;
}
.cart-info{   
    display:flex;
    flex-wrap: wrap;
}
.cart-price::before
{
    content: '$';
    display: inline-block;
}
th{
    text-align: left;
    font-family: 'Poppins';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    padding:5px;
    color:#ffff;
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    font-weight:normal;
}
td{
    padding:20px 5px;
}
td input{
    width:50px;
    height:30px;
    padding:4px;
}
td a{
    color:#ff523b;
    font-size:20px;
}
.cart-info small{
    margin-bottom:20px;
}
.cart-info img{
    width:150px;
    height:220px;
    margin-right:10px;
}
.cart-info p{
    margin-bottom:20px;
}
.total-price{
    display:flex;
    justify-content: flex-end;
    margin-top:50px;
}
.total-price table{
    border-top: 3px solid  #09203f;
    width:100%;
    max-width:264px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}
/* ---------- CONTACT SECTION ------------------------*/
.contact-section{
    width:100%;
}
.contact-wrapper{
    display: flex;
    padding: 50px 0;
    background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(0,0,0,0.50) 100%);
    background-blend-mode: screen;
    justify-content: center;
}
.contact-div{
    vertical-align: top;
    margin-top: 100px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.map-div{
    margin:25px 0 0 250px;
}
h4{
    font-size: 40px;
    font-family: 'Poppins';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
.li-contact{
    margin-top:20px;
    font-family: 'Poppins';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
.li-contact >a{
    color: rgb(0, 183, 255);
}
span{
margin-right: 10px;
font-size: 23px;
}
.links{
text-decoration: none;
color:rgb(0, 183, 255);
}
/* ------------- FOOTER SECTION -------------*/
.footer-container{
    margin-top: 50px;
    width:100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.box1{
    padding: 50px;
}
.footer-title{
    font-family: 'Poppins';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    color:#818181;
}
.footer-title{
    font-size:20px;
    margin-bottom:15px;
}
.footer-text{
    font-size:18px;
    margin-bottom:15px;
    color:#7B7B7B;
    cursor: pointer;
}
.footer-text:hover{
    text-decoration: underline;
}
.last-text
{
    clear: both;
    text-align: center;
    margin-top:150px;
    margin-bottom: 30px;
    color:#7B7B7B;
}
.footer-icon{
    width:54px;
    height:54px;
    float:left;
   margin-left:4px;
}
 /* chat icon ------------------*/
 .animation-block{
     position: fixed;
     z-index: 5;
 }
 .img-block{
    height:70px;
    width:70px;
    animation: myicon 2.1s;
    animation-fill-mode: forwards;
    position: absolute;
    right:20px;
    bottom:20px;
    z-index: 5;
    cursor: pointer;
    display:flex;
    position:fixed;
}